@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swa');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
      sans-serif;
  }
  .bodylogin {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#50E4E4, #06ADB3, #246493);
  }

  h4{
    color: #fff;
  }

  .btn3{
    margin-top: 30px;
    margin-left: 180px;
  }

  .btn3 .color3{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    color: #65589E;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 5px
      10px rgba(0, 0, 0, 0.3);
  }
  
  a.color1{
    color: #fff;
    background: #246493;
    transition: all 0.3s ease;
  }
  
  a.color1:hover{
    color: #246493;
    background: #fff;
  }

  .wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px
      30px
      120px;
      background: #ffffffc4;
    box-shadow: 0
      5px
      10px;
    overflow: hidden;
  }

  .imgbox {
    height: 75px;
    

  }

  .form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(
      -50%
    );
    width: calc(
      100% +
        220px
    );
    padding: 20px
      140px;
    border-radius: 50%;
    height: 100%;
    background: rgb(60, 123, 162);
    transition: all
      0.6s
      ease;
  }
  .wrapper.active
    .form.login {
    bottom: -15%;
    border-radius: 35%;
    box-shadow: 0 -5px
      10px rgba(3, 0, 0, 0.1);
  }
  .form
    header {
    font-size: 30px;
    text-align: center;
    color: #000;
    font-weight: 600;
    cursor: pointer;
  }
  .form.login
    header {
      color: #ffffff;
    opacity: 0.6;
  }
  .wrapper.active
    .form.login
    header {
    opacity: 1;
  }
  .wrapper.active
    .signup
    header {
    opacity: 0.6;
  }
  .wrapper
    form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  form
    input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0
      15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #ffffff;
  }
  .form.login
    input {
    border: 1px
      solid
      #aaa;
  }
  .form.login
    input:focus {
    box-shadow: 0
      1px 0
      #ddd;
  }
  form
    .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkbox
    input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #aaa;
    cursor: pointer;
  }
  form
    .checkbox
    label {
    cursor: pointer;
    color: #000;
  }
  form a {
    color: #333;
    text-decoration: none;
  }
  form
    a:hover {
    text-decoration: underline;
  }
  form
    input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .form.login
    input[type="submit"] {
      background: #246493;
      color: #fff;
      font-weight: bold;
    border: none;
  }
  .cor{
    color: #f4f4f4;
}
.corLogin{
    background:#65589E;
    color: #ffffff;
}

.img {
    width: 50%;
    
}

.container {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -3%);
  box-shadow: 0 5px 10px #888;
  
  }
  
.slides {
  display: flex;
  width: 400%;
  height: 100%;
  
  }
  
.slides input {
  display: none;
  
  }

.imagens one{
  width: 25%;
  transition: .6s;
  
  
}

.imagens {
  width: 25%;
  transition: .6s;
  
}
  
.imagens img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  }
  
.navigation-login{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  }
  
.navigation-login .nav {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #888;
  margin: 6px;
  cursor: pointer;
  transition: .9s;
  
  }
  
.navigation-login .nav:hover {
  background: #fff;
  border: 2px solid #fff;
  
  }
  
#radio-1:checked ~ .one {
  margin-left: 0;
  
  }
  
#radio-2:checked ~ .one {
  margin-left: -25%;
  
  }
  
  #radio-3:checked ~ .one {
  margin-left: -50%;
  
}
  
#radio-4:checked ~ .one {
  margin-left: -75%;
  
}


  /* landing page */

.bodylp {
  font-family: 'Popins', sans-serif;
}

.h1lp{
  font-size: 2.5rem;
  font-weight: 700;
  color: #2e668f;
}
.spanlp{
  font-size: .9rem;
  color: #757373;
}

.h6lp{
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
}

.navlp{
  position: fixed;
  width: 100%;
  background-color: #50E4E4;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1vw 8vw;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
   z-index: 999;
}

.navlp img{
    width: 270px;
    cursor: pointer;
}

.navlp .navigation {
  display: flex;
}

#menu-btn {
  width: 70px;
  height: 70px;
  display: none;
}

#menu-close{
  display: none;
}

.navlp .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navlp .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

.navlp .navigation ul li a{
    text-decoration: none;
    color: #246493;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    background: none;
    border-radius: 0px;
    padding: 0;
    background-color: transparent;
}

nav .navigation ul li a.active-clr,
nav .navigation ul li a:hover{
    color: #cdb230;
}

.homelp{
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(../imagens/homepl1.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.homelp h2{
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.homelp p{
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  line-height: 25px;
}

.homelp .btn{
  margin-top: 30px;
}

.homelp a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.homelp a.color1{
  color: #fff;
  background: #246493;
  transition: all 0.3s ease;
}

.homelp a.color1:hover{
  color: #246493;
  background: #fff;
}

.homelp a.color2{
  color: #fff;
  background: #b4820d;
  transition: all 0.3s ease;
}

.homelp a.color2:hover{
  color: #b4820d;
  background: #fff;
}

#featureslp{
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#featureslp .fea-base{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#featureslp .fea-box{
  background: #DFF1FF;
  text-align: start;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


#features .fea-box i {
  font-size: 2.3rem;
}

#featureslp .fea-box h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: #244d6b;
  padding: 13px 0 7px 0;
}

#featureslp .fea-box p{
  font-size: 1rem;
  font-weight: 400;
  color: #203646;
}

.pazul{
  color: #203646;
}

#funções .função-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#funções{
  padding: 8vw 8vw 6vw 8vw;
  text-align: center;
}

#funções .funções{
  text-align: start;
  background: #f5f3f3;
  height: 100%;
  position: relative;
}

#funções .funções img{
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
}

#funções .funções .detalhes{
  padding: 15px 15px 0 15px;
}

html {
  scroll-behavior: smooth;
}

#newsletter {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(../imagens/newsletter.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newsletter .reminder {
  color: #fff;
}

#newsletter .reminder h1 {
  color: #fff;
}

#newsletter .formlp {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#newsletter .formlp input{
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid #246493;
  outline: none;
}

#newsletter .formlp input::placeholder{
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}

#newsletter .formlp .btn{
  margin-top: 20px;
}

#newsletter .formlp a.color2{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background: #b4820d;
  transition: all 0.3s ease;
}

#newsletter .formlp a.color2:hover{
  color: #b4820d;
  background: #fff;
}

#experts {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#experts .expert-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#experts .expert-box img{
  width: 80%;
  height: 70%;
}

#experts .expert-box .profile{
  background: #f5f3f3;
  padding: 30px 10px;
  border-radius: 5px;
}

.pro-links {
  margin-top: 10px;
}

.pro-links i {
  padding: 10px 13px;
  border: 1px solid #1d2f4e;
  cursor: pointer;
  color: #1d2f4e;
  transition: 0.3s ease;
}

.pro-links i:hover {
  background: #1d2f4e;
  color: #fff;
  border: 1px solid #1d2f4e;
  cursor: pointer;
}

footer{
  padding: 8vw;
  background-color: #5948a3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-col {
  padding-bottom: 40px;
}

footer h3{
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 20px;
}

footer li{
  list-style: none;
  color: #91cbf4;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

footer li:hover{
  color: #ffb917;
}

footer p{
  color: #ffffff;
}

footer .subscribe{
  margin-top: 20px;
}

footer input{
  width: 220px;
  padding: 15px 12px;
  border: none;
  background: #fff;
  border: none;
  outline: none;
  color: #000;
}

footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

footer .subscribe a.color2{
  color: #fff;
  background: #246493;
  transition: all 0.3s ease;
}

footer .subscribe a.color2:hover{
  color: #246493;
  background: #fff;
}

footer .copyright{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

footer .copyright .pro-links{
  margin-top: 10px;
}

footer .copyright .pro-links i{
  padding: 10px 13px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s ease;
}

footer .copyright .pro-links i:hover{
  background: #ffffff;
  color: #5948a3;
  border: 1px solid #5948a3;
  cursor: pointer;
}

/* landing page - sobre */

#about-home {
  background-image: linear-gradient(rgba(7, 4, 44, 0.536), rgba(5, 4, 46, 0.813)), url(../imagens/fundoabout.jpg);
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#about-home h2 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

#about-container{
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img{
  width: 60%;
  padding-right: 60px;
}

#about-container .about-img img{
  width: 100%;
}

#about-container .about-text{
  width: 40%;
}

#about-container .about-text h2{
  color: #203646;
  padding-bottom: 15px;
}

#about-container .about-text p{
  color: #333;
  font-weight: 300;
}

#about-container .about-text .about-fe{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe img{
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text{
  width: 90%;
}

#about-container .about-text .about-fe .fe-text h5{
  font-size: 16px;
  color: #254053;
}

#trust{
  text-align: center;
  padding: 8vw;
}

#trust .trust-img{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust .trust-img img {
  width: 90px;
  height: auto;
}

/* Landing Page - Blog */

:root{
  --container-color: #1e1e21;
  --second-color: rgba(77, 228, 255);
  --text-color: #172317;
  --bg-color: #fff;
}

::selection{
  color: var(--bg-color);
  background: var(--second-color);
}

#section-blog{
  padding: 3rem 0 2rem;
}

.blog-container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

@media (max-width: 768px) {
  .navlp{
    padding: 15px 20px;
  }

  .navlp img {
    width: 200px;
  }

  #menu-btn {
    display: initial;
  }

  #menu-close{
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }

  .navlp .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: #2465939a;
    backdrop-filter: blur(4.5px);
    border: 1px solid rgb(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease-in;
  }

  .navlp .navigation ul.active {
    right: 0;
  }

  .navlp .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  .navlp .navigation ul li a{
    color: #fff;
  }

  .navlp .navigation ul li a.home-name{
    color: #ffffffac;
  }

  .homelp {
    padding-top: 0px;
  }

  .homelp  .subInicial
  {
    width: 90%;
  }

  #featureslp {
    padding: 8vw 4vw 0 4vw;
  }

  #funções {
    padding: 8vw 4vw 0 4vw;
  }

  #newsletter {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;
  }

  #experts {
    padding: 8vw 8vw 4vw 8vw;
    text-align: center;
  }

  footer .copyright .pro-links{
    margin-top: 15px;
  }

  /* Landing Page - Sobre */

  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }

  #about-container .about-img {
    padding-right: 30px;
  }

  #trust .trust-img img {
    width: 50px;
    height: auto;
  }
  
}

@media (max-width: 475px) {
  #newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #newsletter .reminder{
    padding: 0 0 20px 0;
  }

  #newsletter .reminder h1{
    font-size: 2rem;
  }

   /* Landing Page - Sobre */

   #about-container {
    flex-direction: column-reverse;
  }
  
  #about-container .about-img{
    width: 100%;
    padding-right: 0px;
  }

  #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
  }

  #trust .trust-img {
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #trust .trust-img img {
    width: 70px;
    margin: 10px 15px;
  }
}

@media(max-width: 376px) {
  footer input {
    width: 100%;
    margin-bottom: 20px;
  }
}