:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --azulclaro: #DFF1FF;
    --azulgelo: #93B4D7;
    /*--azul: #006494;*/
    --azul: #2196f3;
    --darkazul: #13293D;
    --preto: #2a2a2a;
    --cinza: #cbcbcb;
    --vermelho: #ef4d4d;
    --verde: #19c463;

    --color-text-primary: #1F2936;
    --color-text-placeholder: #798EAE;
    --color-bg-primary: #f9fafb;
    --color-bg-secondary: #ECECFD;
    --color-bg-sidebar: #FFFFFF;
    --color-border-hr: #E2E8F0;
    --color-hover-primary: #695CFE;
    --color-hover-secondary: #e2e2fb;
    --color-shadow: rgba(0, 0, 0, 0.05);

    /* CORES PRINCIPAIS DO POPOVER (DARK THEME) */
    --f7-popover-bg-color: #1f2937;          /* Cor de fundo */
    --f7-popover-text-color: #e5e7eb;       /* Cor do texto */
    --f7-popover-border-radius: 12px;       /* Borda arredondada */

    /* CORES DOS BOTÕES */
    /* --f7-popover-button-hover-bg-color: rgba(255, 255, 255, 0.05);  Efeito hover */
    /* --f7-popover-button-pressed-bg-color: rgba(255, 255, 255, 0.1);  Efeito clique */

    /* SETA DO POPOVER (ANGLE) */
    /* --f7-popover-angle-bg-color: #1f2937;  Cor do triângulo */
}

.popover-menu .list-button {
    color: #e5e7eb !important;
}

.nav-top.favority {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-primary);
    padding: 10px 0;
}

.nav-top.favority a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-bg-secondary);
    background: var(--color-bg-secondary);
    border-radius: 50%;
    color: var(--color-text-primary);
}

.coracaozinho {
    color: var(--vermelho);
}

.nav-top.favority a:first-child {
    margin-left: 20px;
}

.nav-top.favority a:last-child {
    margin-right: 20px;
}

#listaFavoritos {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    padding-bottom: 280px;
}

.item-favorito {
    display: flex;
    align-items: center;
    width: 90%;
    height: 120px;
    padding: 10px 0px;
    /*background-color: blue;*/
    margin: auto;
    border-bottom: 1px solid var(--color-bg-secondary);
}

.area-img {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-border-hr);
    border-radius: 20px;
    overflow: hidden; /* Evita overflow */
}

.area-img img {
    width: 100%; /* Ajusta a largura da imagem */
    height: 100%; /* Ajusta a altura da imagem */
    object-fit: cover; /* Faz a imagem cobrir a área sem distorção */
    object-position: center; /* Centraliza a imagem */
}

.area-details {
    flex: 70%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
}

.sup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.name-corretor {
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-text-primary);
}

.delete {
    font-size: 18px;
    color: var(--color-text-primary);
    margin-right: 10px;
}

.middle span {
    color: gray;
    margin-left: 15px;
}


@media (min-width: 769px) {
    .nav-top.favority {
        padding: 25px 70px 10px 40px;
    }
    .nav-top.favority a {
        box-shadow: 0 5px 15px rgba(04, 03, 05, .2);
    }

    .item-favorito {
        height: 200px;
        width: 85%;
    }
}