body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: auto; /* Permite rolagem */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #add8e6; /* Cor azul claro */
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000; /* Garante que o cabeçalho fique acima do conteúdo */
}

header h1 {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #000;
}

.container {
    display: flex;
    position: relative;
    width: 60%; /* Ajuste a largura conforme necessário */
    height: auto; /* Ajuste a altura conforme necessário */
    margin-top: 20px; /* Espaço entre o cabeçalho e a folha */
}

.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    pointer-events: none; /* Permite clicar através dos números */
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 30px; /* Aumenta a altura dos números em relação à linha */
    color: #ccc;
    text-align: right;
    width: 30px; /* Largura suficiente para os números */
    height: 100%;
    box-sizing: border-box;
}

.area {
    width: calc(100% - 40px); /* Ajuste a largura conforme necessário */
    height: 900px; /*ta o comprimento da folha */
    line-height: 30px; /* Aumenta a altura da linha */
    padding-left: 40px; /* Espaço para os números */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: repeating-linear-gradient(
        white,
        white 29px,
        #ccc 30px
    );
    border: 2px solid #add8e6; /* Cor da borda azul */
    resize: none; /* Desativa o redimensionamento */
    overflow: hidden; /* Evita rolagem */
}

.area:focus {
    border-color: #add8e6; /* Mantém a cor da borda azul quando em foco */
    outline: none; /* Remove o contorno padrão */
}

#editor {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;   
    margin: 5px 5px;
    color: #777;
}

button:hover {
    color: #333;
}

select {
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 5px;
}

input[type="color"] {
    margin: 5px;
    border: 1px solid #ddd; 
    border-radius: 3px;
    padding: 3px;
    width: 50px;
}

input[type="text"], input[type="file"] {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 200px;
}