:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --azulclaro: #DFF1FF;
    --azulgelo: #93B4D7;
    /*--azul: #006494;*/
    --azul: #2196f3;
    --darkazul: #13293D;
    --preto: #2a2a2a;

    --color-text-primary: #1F2936;
    --color-text-placeholder: #798EAE;
    --color-bg-primary: #f9fafb;
    --color-bg-secondary: #ECECFD;
    --color-bg-sidebar: #FFFFFF;
    --color-border-hr: #E2E8F0;
    --color-hover-primary: #695CFE;
    --color-hover-secondary: #e2e2fb;
    --color-shadow: rgba(0, 0, 0, 0.05);
}

/* Estilos da barra de pesquisa */
form {
    padding-top: 10px;
    padding-bottom: 20px;
    background: var(--color-bg-primary);
    position: relative;
}
  
input[type="text"] {
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
}
  
::placeholder {
    color: var(--color-text-placeholder);
}
  
.icone-busca {
    position: absolute;
    top: 0px;
    right: 5%;
    font-size: 27px;
    padding: 13px;
}
  
.filter-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 10px; /* Espaçamento entre os botões */
    padding-top: 15px;
    /*border-radius: 0px 0px 10px 10px;*/
    padding-bottom: 25px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background: var(--color-bg-primary);
}

.filter-buttons button {
    padding: 8px 12px; /* Menor padding para reduzir o tamanho */
    background-color: var(--darkazul);
    color: white;
    border: none;
    border-radius: 8px; /* Bordas menores */
    cursor: pointer;
    flex: 1; /* Faz os botões ocuparem o mesmo espaço */
    max-width: 100px; /* Limita o tamanho máximo */
    font-size: 14px; /* Fonte menor */
}

.filter-buttons button:hover {
    background-color: var(--azul);
}
  
  /* Lista de pessoas */
.person-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
  
  /* Cartão de pessoa */
.person-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-sidebar);
    border-radius: 14px;
    padding: 1rem;
}

.person-card-skeleton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-sidebar);
    border-radius: 8px;
    padding: 1rem;
}
  
.person-info {
    display: flex;
    align-items: center;
}
  
.person-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.person-skeleton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
    background: var(--color-bg-secondary);
}

.color-gelo {
    background: var(--gelo) !important;
}

.color-shadow {
    background: var(--color-bg-secondary) !important;
}
  
.person-details {
    display: flex;
    flex-direction: column;
}
  
.person-name {
    font-size: normal;
    font-weight: normal;
    margin: 0;
}
  
.person-specialty {
    font-size: normal;
    color: #808080; /* Cinza */
}
  
.person-rating {
    display: flex;
    align-items: center;
}
  
.rating-score {
    font-size: 1.1rem;
    font-weight: bold;
}

.item:last-child {
    padding-bottom: 220px;
}

.rating-score, .person-name {
    color: var(--color-text-primary);
}

/* Responsividade
@media (min-width: 768px) {
    .person-list {
        grid-template-columns: 1fr 1fr !important;
    }
}
*/

/* Para telas de celular (até 768px)
@media (max-width: 768px) {
    
}
*/
  
@media (min-width: 769px) {
    /* Container que abriga os cards */
    .person-list {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      column-gap: 50px;
      row-gap: 15px;
      padding: 0;
      margin: 0 auto;
      max-width: 1200px;
    }
  
    /* Cards individuais */
    .person-card {
      margin: 0;
      width: 100%;
    }
}
  