:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --azulclaro: #DFF1FF;
    --azulgelo: #93B4D7;
    /*--azul: #006494;*/
    --azul: #2196f3;
    --darkazul: #13293D;
    --preto: #2a2a2a;
    --cinza: #cbcbcb;
    --vermelho: #ef4d4d;
    --verde: #19c463;
}

.page[data-name="perfil"]{
    background-color: #e3e9f7;
}

.profile-container {
    width: 500px;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px #848fa8;
    margin-left: 450px;
    margin-top: 150px;
}

.profile-header {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 10px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #d9d9d9;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    margin: 0;
    font-size: 20px;
}

.profile-info p {
    margin: 5px 0 0;
    color: #999;
    font-size: 12px;
}

.status-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3b3b3b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s;
}

.status-button:hover {
    background-color: #555;
}

.content {
    margin-top: 20px;
}

.function {
    margin-bottom: 35px;
}

.informations {
    margin-bottom: 25px;
}

.connections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.connection {
    background-color: #7872ef;
    border-radius: 8px;
    padding: 10px;
    flex: 1;
    text-align: center;
    margin: 0 5px;
    transition: background 0.3s;
    color: #fff;
}

.connection:hover {
    background-color: #4f46e5;
}

.connection span {
    display: block;
    margin-top: 5px;
    color: #d6d6d6;
    font-size: 12px;
}
.content .membro {
    line-height: 1px;
}

.note {
    margin-bottom: 30px;
}

.note p {
    line-height: 8px;
}