:root {
  --branco: #ffff;
  --gelo: #f1f1f1;
  --azulclaro: #DFF1FF;
  --azulgelo: #93B4D7;
  /*--azul: #006494;*/
  --azul: #2196f3;
  --darkazul: #13293D;
  --preto: #2a2a2a;
}

.button-top a {
  width: 40px;
  height: 40px;
  background-color: var(--branco);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--preto);
  box-shadow: 0 5px 15px rgba(04, 03, 05, .2);
  border: 1px solid var(--gelo);
  font-size: 18px;
  position: fixed;
  top: 20px;
  right: 20px;
}

  
  .menu-lateral {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-lateral a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .menu-lateral a:hover {
    background-color: #ddd;
  }
  
  .conteudo {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .card h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
  }
  
  .card button {
    background-color: #0060aa;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
  
  .menu-direito {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-direito a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .menu-direito a:hover {
    background-color: #ddd;
  }